*{
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 8px;
    width:38%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(6, 6, 6);
    color: white;
    margin-top: 45px;
    margin-left: 22px;

  }
  
  button {
    padding: 8px 16px;
    background-color: #1cb6e1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8%;
    margin-left: -23%;
  }
  